p{
    color: blue;
}

li{
    border-bottom: 1px solid blue;
    width:250px;
}

button{
    color:black;
    border-radius: 5%;
    border:none;
    padding:5px 10px;
    opacity: 0.8;
    cursor: pointer;
}

.ctr_btn1{
    background-color:blue;
}
.ctr_btn2{
    background-color:purple;
}

button:hover{
    opacity: 1;
}